



:root{
    /* a css variable */
    --bs-body-bg: rgb(250, 247, 215);
    --brand-color: rgb(205,66,39);
}

@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;700&display=swap');


body{
    font-size:100%;
    margin:0;
    font-family: 'Martel', serif;
}


h1{
    color: rgb(0,0,0);
    font-size: 4em;
    text-align: center;
    margin: 0;
}
h1 span{
    background-color:var(--bs-body-bg);
    padding:0 1em;
}

.quote{
    
    text-align: center;
    font-size: 2em;
    font-style: italic;
    padding: 1em 1em;
    background-color: rgb(255,255,255);
    color: rgb(150,150,150);
  
}

.line-bg{
    background-image: url("black-01.svg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: 4px;
    margin:0 auto 2em auto;
}

.body-text{
    font-size: 2em;
    text-align: center;
}

.body-italics{ 
    color: var(--brand-color);
}

.part-img{
    max-width: 75%;
    margin:auto;
    display: block;
}

.container-fluid{
    margin:0 0 2em 0;
    border: 0px solid green;
    padding:0;
}
/* -- spacing --*/
.container-lg{
margin:0 auto 2em auto;
}
.row{
    /* fix for overflow */
   margin:auto;
    background-color: rgb(255,255,255);
    padding: 1em 1em;
}

footer{
    background-color: var(--brand-color);  
}
footer .container{
    margin: 0 auto;
    text-align: center;
    padding: 1em 0;
    color: rgb(255,255,255);
}

/* --------- navigation --------- */
.navbar{
    background-color:  var(--brand-color);
}
.nav-item{

}
.nav-link{
    font-size: 1.5em;
    color:white;
}
.nav-item:hover{
    background-color: white;
    color: red;
}
.nav-link:hover{
    color: red;

}
.btn-outline{
    border: 1px solid white;
    padding: 0 1em;
}
.btn-outline:hover{
    background-color: white;

}


@media only screen and (max-width: 768px) {
    h1{
        font-size: 4em;
    }
    .container{
        max-width: 760px;
    }
    .line-bg{
        background-image: none;
    }

}