
:root{
--brand-paper: rgb(253,251,227);
--brand-green: rgb(167,209,202); 
    /* hover color for text */
--brand-green-pale: rgb(223,237,224);
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
body{
    font-family: 'Cormorant Garamond', serif;
    font-size: 100%;
    background-color: var(--brand-paper);
    margin:0;  
}

/* ---- text ------ */
.quote{
    text-align: center;
    font-size: 2em;
    font-style: italic;
    padding: 1em 1em;
    color: rgb(150,150,150);
}

.body-text{
    font-size: 2em;
    text-align: center;
}

.sub-text{
    font-size: 1.5rem;
    margin:0;
}

.price-style{
    margin: 1em 0 0.5em 0;
}
.price-style span{
    padding: 0.5em 0 0.5em 0;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}

.banner-text{
    font-family: 'Zen Antique Soft', serif;
    font-size: 8em;
    background-color: var(--brand-green);
    margin-bottom: -0.01em;
    padding:0 1em 0 0;
    text-align: right;

}

h1{
    font-size: 4em;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

h2{
    border-bottom: 1px solid gray;
}
/* ----- icon buttons----- */


.icon-button{
background-size: 1.5rem;
background-repeat: no-repeat;
background-position: center center;
background-color: rgb(0,0,0);
display: inline-block;
    margin: 0 0 0 1rem;
padding: 0em 0em;
width: 3rem;
height: 3rem;
border-radius:5em;
border: 0;
cursor: pointer;
box-sizing:border-box;
text-align:center;
}
.comment-btn{
background-image: url("comment.svg");
background-size: 2rem;
width: 3.5rem;
height: 3.5rem;
}
.edit-button{
  background-image: url("edit.svg");
}
.delete-button{
  background-image: url("delete.svg");
}
.post-button{
background-image: url("post.svg");
vertical-align: middle;
margin:0;
background-size: 2rem;
width: 3.5rem;
height: 3.5rem;
}

.icon-button:hover{
background-color: var(--brand-green);
}

.small-icon-button{
    background-size: 0.75rem;
width: 1.75rem;
height: 1.75rem;
}



/* -- layout --- */

.container-fluid{
    border: 0px solid blue;
    padding:0;
    
}

.container-lg{
    border: 0px solid pink;
    background-color: rgb(255,255,255);
    overflow: auto;
    margin-bottom: 2.5em;
}

.col-lg-7, .col-lg-5{
    border: 0px solid red;
}
.row{
    border: 0px solid blue;
    padding: 1em 0 1em 0;
}

/* -----news page----- */
.subtitle{
    font-size: 1.5em;
    border-bottom: 1px solid gray;
    color: gray;
}

.news{
    max-width: 600px;
    margin: auto;
    background-color: var(--brand-paper);
    border-radius: 2em;
    filter: drop-shadow(0.25em 0.25em 0.25em rgba(0,0,0,0.5));
}
.news-text{
    font-size: 1.25em;
}
.news-meta{
    text-align: end;
    font-weight: bold;
}

.comment{
    background-color: rgba(255,255,255,0.75);
    border-radius: 1em;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin-bottom: 0.5em;
}
.comment div:first-child{
    text-align: end;
    font-weight: bold;
}
.comment div:nth-child(2){
    font-size: 1.25em;
}

.comment div:nth-child(3){
    text-align: end;
    font-size: 0.5em;
}


.menu-title{

    border-bottom: 1px dotted black;
    padding: 1em 0 0.5em 0;
    font-weight: bold;
    margin-bottom: 0.5em;
}


/* -- images --- */
.part-img{
    max-width: 75%;
    margin:auto;
    display: block;
}
.img-flip{
    transform: scaleY(-1);
    margin-bottom: -0.1em;
}
/* --- footer ----*/
.footer-content{
    background-color: var(--brand-green);
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    color:white;
}
.footer-content p:first-child{
    font-weight: 600;
    font-size: 1.5em;
}

/* -- navigation --- */
.navbar{
background-color:  var(--brand-green);
border-bottom: 1px solid black; 
}

.nav-item:hover{
 background-color:var(--brand-green-pale); 
}

.nav-link{
font-size: 1.5em;
color:black;
}

.nav-link:hover{
color: var(--brand-green);
}

nav .btn-outline{
display: inline-block;
}

.btn-outline{
    border: 1px solid white;
    padding: 0 1em;
}

.btn-outline:hover{
background-color:var(--brand-green-pale);

}
/* ---- form ----- */

label, input[type='text'], input[type='email'], input[type='password'], textarea{
font-size: 1.5em !important;
}

form p{
font-size: 1.5em;
}

form div{
margin-bottom: 1em;
}

.btn{
font-size: 1.3em;
    --bs-btn-padding-y:0.1em;
}

form .alert{
color: red;
text-align:center;
font-size: 1.5em;
}
/* -- alerts and sessions --- */
.alert{
    color: red;
    text-align:center;
    font-size: 1.5em;
}
.session{
    position: fixed;
    top: 100%;
    left: 0;
    transform: translate(0,-100%);
    z-index: 1;
    background-color: darkorchid;
    color: white;
    text-align:center;
    font-size: 1.5em;
    width: 300px;
}
@media only screen and (max-width: 992px) {

        .banner-text{
        padding:0 0.2em 0 0;
            font-size: 6em;
    }
}

/* sizing down fonts for very small screens */
@media only screen and (max-width: 768px) {
    .body-text , .quote{
        font-size:1.5em;
    }
    h1{
        font-size: 2em;
    }
    .banner-text{
        padding:0 0.2em 0 0;
        font-size: 3em;
    }
    .price-style{
        font-size: 1.25em;
    }

}
/* maximising images that are 80% when on larger screens */
@media only screen and (max-width: 576px) {
    .part-img{
        max-width: 100%;
    }
}

