{% extends "layout.html" %}


{% block title %}
1789 Welcome
{% endblock %}

{% block banner %}
static/images/big_banner.svg
{% endblock %}

{% block content %}
 <div class="container-lg">
<p class="quote">
From scratch. Our fresh pasta is made daily in-house using free range eggs & NZ Semolina.
</p>
</div>
<div class="container-lg">
    <div class="row align-items-center">
        <div class="col-lg-7">
            <h1>Our Place</h1>
            <p class="body-text">
            1154 is a fast, fresh, house made pasta & organic wine restaurant set in a modern, lively Cuba street eatery. Our aim is to source the best ingredients we can to make the best possible version of classic pasta dishes you already know & love.
            </p>
        </div>
        <div class="col-lg-5">
            <img class="img-fluid part-img" src="static/images/SVG/Gamberetti.svg" alt="Pasta and a tomato">
        </div>
    </div>
</div>
{% endblock %}