{% extends "layout.html" %}

{% block title %}
Our News
{% endblock %}

{% block banner %}
static/images/small_banner.svg
{% endblock %}

{% block content %}
<div class="container-lg py-sm-5 py-1">
    <table class="table body-text text-start">
        {% for row in member %}
        <tr><td>{{ row['member_id'] }}</td><td>{{ row['name'] }}</td><td>{{ row['email'] }}</td>
            <td>{{ row['password'] }}</td><td>{{ row['authorisation'] }}</td></tr>
        {% endfor %}

    </table>
</div>
{% endblock %}