{% extends "layout.html" %}

{% block title %}
Our News
{% endblock %}

{% block banner %}
static/images/small_banner.svg
{% endblock %}


{% block content %}
<div class="container-lg py-sm-5 py-1">

  <div class="news p-4 my-4">
    <form action="{{url_for('news_cud', id=id, task=task)}}" method="POST">
        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="" value="{{title}}" required>
        </div>
        <div>
            <label for="subtitle" class="form-label">Subtitle</label>
            <input type="text" class="form-control" id="subtitle" name="subtitle" placeholder="" value="{{subtitle}}" required>
        </div>
        <div>
             <label for="content" class="form-label">News content</label>
            <textarea class="form-control" id="content" name="content" rows="7">{{content}}</textarea>
        </div>
        <div class="text-end">
            <button type="reset" class="btn btn-primary">Reset</button>
            <button  type="submit" class="btn btn-primary" >Submit</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}