{% extends "layout.html" %}

{% block title %}
Our News
{% endblock %}

{% block banner %}
static/images/SVG/curve_slice.svg
{% endblock %}


{% block content %}



<div class="container-lg py-sm-5 py-1">
     <h1> News
    {% if session and session['authorisation'] == 0 %}
    <a class="icon-button post-button " href="{{ url_for('news_cud', id=0, task='add') }}"></a>
    {% endif %}
         </h1>


    {% for row in news %}
    <div class="news p-4 my-4">
    <h2> {{ row['title'] }}</h2>
        <div class="subtitle"> {{ row['subtitle'] }}</div>
        <p class="news-text"> {{ row['content'] | replace("\n", "<br>") | safe}} </p>
        <div class="news-meta">Posted by {{ row['name'] }} on {{ row['newsdate'] | news_date }}</div>
        {% if session and session['authorisation'] == 0 %}
        <div class="news-meta mt-1">
            <a class="icon-button edit-button" href="{{ url_for('news_cud', id=row['news_id'], task='update') }}"></a>
              <a class="icon-button delete-button" href="{{ url_for('news_cud', id=row['news_id'], task='delete') }}"></a>
        </div>
        {% endif %}
        <h3 id="{{ row['news_id'] }}">Comments</h3>
        {% for comment in row['comments'] %}
        <div class="comment">
             <div>Posted by {{comment['name']}} on {{ comment['commentdate'] | news_date }} </div>
            <div>{{ comment['comment'] }}</div>
            <div >
                <a class="icon-button delete-button small-icon-button" href="{{ url_for('comment_cud', id=comment['comment_id'], task='delete') }}"></a>
            </div>
        </div>
        {% endfor %}

                <div>
            {% if session and session['authorisation'] in [0,1] %}
            <form action="{{url_for('comment_cud', news_id=row['news_id'], member_id=session['id'],task='add')}}" method="POST">
                <div>
                    <label for="comment" class="form-label">Your comment</label>
                    <textarea class="form-control" id="comment" name="comment" rows="1" required>{{content}}</textarea>
                </div>
                    <div class="text-end">
                    <button  type="submit" class="icon-button comment-btn" ></button>
                </div>
            </form>
                {% endif %}

        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}