{% extends "layout.html" %}

{% block title %}
Join up
{% endblock %}

{% block banner %}
static/images/SVG/curve_slice.svg
{% endblock %}


{% block content %}
<div class="container-lg">
<p class="body-text">
Join us to receive special offers, invitations to tasting nights and groovy Wellington gossip!
</p>
</div>
<div class="container-lg p-3">
    <form action="{{ url_for('signup') }}" method="POST">
        <div>
            <label for="membername" class="form-label">First Name</label>
            <input type="text" class="form-control" id="membername" name="membername" placeholder="" value="{{membername}}" required>
        </div>
        <div>
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="" value="{{email}}" required >
        </div>
        <div>
             <label for="aboutme" class="form-label">Tell us about yourself</label>
            <textarea class="form-control" id="aboutme" name="aboutme" rows="3"> {{aboutme}}</textarea>
        </div>
           <div>
           <label for="password" class="form-label"> Password</label>
           <input type="password" class="form-control" id="password" name="password" placeholder="" value="melanie" required>
       </div>
       <div>
           <label for="confirmpassword" class="form-label"> Confirm</label>
           <input type="password" class="form-control" id="confirmpassword" name="confirm password" placeholder="" value="giffiths" required>
       </div>
        <div id="confirmmessage" class="alert"> Currently, your passwords do not match </div>

        <div class="text-end">
          <button type="reset" class="btn btn-primary">Reset</button>
          <button id="submit" type="submit" class="btn btn-primary" >Submit</button>
        </div>


    </form>

</div>
<script>
    let pw = document.querySelector("#password");
    let confirm = document.querySelector("#confirmpassword");
    let message = document.querySelector("#confirmmessage");
    let submit = document.querySelector("#submit");
    console.log(pw);
    submit.disabled = true;
    console.log(confirm.value);
    message.style.display = "block";

    pw.addEventListener('keyup', check_match);
    confirm.addEventListener('keyup', check_match)

    function check_match(){
        if( pw.value === confirm.value){
            submit.disabled = false;
            message.style.display = "none";
        }else{
            submit.disabled = true;
            message.style.display = "block";
        }
    }
</script>


{% endblock %}